html, body {
    margin: 0px;
    -webkit-app-region: drag;
    overflow: hidden;
}

.close-button {
    cursor: pointer;
    border: none;
    background-color: #6889a8;
    position: absolute;
    right: 4;
    top: 3;
    color: white;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    -webkit-app-region: no-drag;
}

.action-button {
            background-color: #3b5166;
            border: none;
            color: white;
            padding: 8px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            -webkit-app-region: no-drag;
}

.copy-button-slow {
            background-color: #3b5166;
            width: 136px;
            border: none;
            color: white;
            padding: 8px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            -webkit-app-region: no-drag;
            -webkit-transition: color 1s;
}

.copy-button-fast {
            background-color: #3b5166;
            width: 136px;
            border: none;
            color: white;
            padding: 8px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            -webkit-app-region: no-drag;
            -webkit-transition: color 0.195s;
}

button:hover {
            background-color: #4e6882;
}

.center-box {

            text-align:initial;
            display:inline-block;
            width:472px;
            height:531px;
            margin:auto;
            background-color:#6889a8;

}


.text-area {

            padding-top:15px;
            padding-left:15px;
            padding-right:15px;
            padding-bottom:15px;
            color:white;
            font-family: 'Roboto', sans-serif;
            font-size: 13px;

}

.divTable{
            display: table;
            width: 100%;
}

.divTableRow {
            display: table-row;
}

.divTableHeading {
            background-color: #EEE;
            display: table-header-group;
}

.divTableCellRight, .divTableHead {
            border: 0px solid #999999;
            display: table-cell;
            padding: 1px 1px 3px;
            text-align: right;
            
}

.divTableCell, .divTableHead {
            border: 0px solid #999999;
            display: table-cell;
            padding: 1px 1px 3px;
            width: 52%;
}

.divTableCellFooter {
            border: 0px solid #999999;
            display: table-cell;
            padding: 0px ;
}

.divHeader {
            text-align: center;
            width:100%;
            height:40px;
            font-size: 24px;
}

.divTableHeading {
            background-color: #EEE;
            display: table-header-group;
            font-weight: bold;
}

.divTableFoot {
            background-color: #EEE;
            display: table-footer-group;
            font-weight: bold;
}

.divTableBody {
            display: table-row-group;
}

input, select {
    -webkit-app-region: no-drag;
}

input, textarea, select {
            border: 2px solid #f7f7f7;
            width:100%;
            background-color: #f7f7f7;
}

input:focus, textarea:focus, select:focus {
            border: 2px solid #fcfcfc;
            width:100%;
            background-color: #fcfcfc;
}
